table {
  tbody {
    tr {
      td {
        &.-title {
          min-width: 15rem;
        }
        &.-ellipsis {
          max-width: 60rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}
